.playlists {
  padding-top: 92px;
  padding-bottom: 92px;
}

.playlists-container {
  justify-content: space-between;
}

.playlists__content {
  flex-direction: column;
  max-width: 350px;
  margin-right: 30px;
}

.playlists__checkbox-list {
  flex-wrap: wrap;
  flex-direction: column;
  margin-bottom: 38px;
  border-bottom: 1px solid var(--gray);
}

.playlists__title {
  margin-bottom: 12px;
}

.playlists__genres {
  margin: 0;
  margin-bottom: 12px;
  font-size: 16px;
  line-height: 16px;
  color: var(--gray);
}

.playlists__checkbox-item {
  margin-bottom: 18px;
}

.playlists__checkbox-wrap {
  position: relative;
  padding-left: 45px;
  flex-shrink: 0;
  font-size: 20px;
  line-height: 20px;
  color: var(--black);
  cursor: pointer;
}

.checkbox__default ~ .checkbox__custom {
  position: absolute;
  top: 50%;
  left: 0;
  width: 26px;
  height: 26px;
  border: 2px solid #999999;
  border-radius: 100%;
  transform: translateY(-50%);
}

.checkbox__default:checked ~ .checkbox__custom {
  border: 7px solid var(--violet);
}

.playlists__list {
  flex-wrap: wrap;
  max-width: 730px;
  margin-bottom: -30px;
}

.playlists__item {
  width: 100%;
  max-width: 160px;
  margin-bottom: 30px;
}

.playlists__item:not(:nth-child(4n)) {
  margin-right: 30px;
}

.playlists__img-wrap {
  display: block;
  max-height: 160px;
}

.playlists__item-content {
  padding: 16px;
  border: 1px solid var(--lightGray);
}

.playlists__band {
  margin: 0;
  margin-bottom: 4px;
  font-weight: var(--medium);
  font-size: 16px;
  line-height: 16px;
  color: var(--black);
}

.playlists__band-album {
  margin: 0;
  font-size: 12px;
  line-height: 12px;
  color: var(--gray);
}

.playlists__warning {
  margin: 0;
  font-size: 16px;
  line-height: 22px;
  color: var(--gray);
}

.playlists__warning-company {
  margin: 0;
  margin-bottom: 6px;
  font-style: italic;
  font-weight: var(--lightRegular);
  font-size: 16px;
  line-height: 22px;
  color: var(--gray);
}

.min-age {
  width: 30px;
}


.playlists__warning-wrap--media {
  display: none;
}
