@media (max-width: 1200px) {

  .header__container--media {
    display: flex;
    padding-top: 19px;
    padding-bottom: 19px;
  }

  .header_logo {
    display: none;
  }

  .header__nav {
    margin-right: 30px;
  }

  .header_logo--media {
    max-width: 112px;
    height: 20px;
  }

  .subheader__nav {
    padding: 12px 0;
  }

  .subheader__menu {
    max-width: 490px;
    margin-right: 34px;
  }

  .subheader__audio {
    margin-right: 0;
  }

  .subheader__audio-item {
    padding: 0 10px;
    width: 150px;
  }

  .subheader__audio-btn {
    margin-right: 8px;
  }

  .subheader__age {
    display: none;
  }

  /*hero*/

  .hero__content {
    padding: 60px 286px 45px 0;
    background-image: url("../img/microphone-1024.png");
  }

  .hero__text {
    margin-bottom: 20px;
  }

  /*broadcast*/

  .broadcast__autors-wrap {
    max-height: 564px;
  }

  /*guests*/

  .guests {
    padding-top: 94px;
    padding-bottom: 94px;
  }

  .guests__text {
    max-width: 536px;
  }

  .acordion__item-content-wrap {
    columns: 3;
  }

  .guests__tabs-content {
    max-width: 255px;
  }

  .guests__socials-item {
    margin-right: 35px;
  }

  .guests__photo-wrap {
    display: block;
    margin-bottom: 5px;
  }

  .guests__ether {
    display: inline-block;
    padding: 12px 18px;
    font-weight: var(--medium);
    font-size: 16px;
    line-height: 16px;
    color: var(--lightViolet);
    border: 2px solid var(--lightViolet);
    border-radius: 77px;
  }

  /*playlists*/

  .playlists-container {
    flex-direction: column;
  }

  .playlists__content {
    max-width: 325px;
  }

  .playlists__checkbox-list {
    columns: 2;
    margin-bottom: 12px;
  }

  .playlists__checkbox-item {
    margin-bottom: 25px;
  }

  .playlists__checkbox-wrap {
    padding-left: 42px;
  }

  .playlists__warning-wrap {
    display: none;
  }

  .playlists__warning-wrap--media {
    display: block;
  }

  .playlists__list {
    max-width: 100%;
    padding-bottom: 10px;
    margin-bottom: 37px;
    border-bottom: 1px solid var(--gray);
  }

  .playlists__item {
    display: flex;
    width: 100%;
    max-width: 255px;
    margin-bottom: 25px;
  }

  .playlists__item:not(:nth-child(4n)) {
    margin-right: 0;
  }

  .playlists__item:not(:nth-child(3n)) {
    margin-right: 29px;
  }

  .playlists__img-wrap {
    flex-shrink: 0;
    max-width: 112px;
  }

  .playlists__item-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-height: 112px;
    padding: 10px 5px 10px 10px;
  }

  /*market*/

  .market__container {
    align-items: center;
  }

  .market__img-wrap {
    display: block;
    width: calc(397 / 823 * 100%);
    max-height: 562px;
    padding-bottom: 30px;
  }

  .market__descr {
    width: calc(396 / 823 * 100%);
    max-width: 396px;
  }

  /*about*/

  .about__form {
    width: 100%;
  }

  .about__descr {
    padding-right: calc(285 / 823 * 100%);
    margin-bottom: 30px;
  }

  /*footer*/

  .footer__nav-list {
    padding-top: 5px;
  }

  .footer__nav-item:not(:nth-child(n + 7)) {
    margin-right: 89px;
  }

  .footer__nav-item:not(:nth-child(3n)) {
    margin-bottom: 17px;
  }
}

@media (max-width: 962px) {

  .container {
    padding-left: 114px;
    padding-right: 114px;
  }

  .header__container--media {
    position: relative;
    z-index: 10;
  }

  .hamburger {
    display: inline-block;
    z-index: 10;
  }

  .header__item {
    display: block;
    margin-right: 48px;
  }

  .header__item:not(:last-child) {
    margin-bottom: 64px;
  }

  .header__menu {
    display: block;
    columns: 2;
    max-width: 265px;

  }

  .header__nav-wrap {
    position: absolute;
    top: 58px;
    left: 0;
    width: 100%;
    height: 100vh;
    transform: translateY(-200%);
    transition: transform 0.4s ease-in-out;
  }

  .header__nav {
    max-width: 100%;
    margin-right: 0;
    padding: 106px 114px;
    background-color: var(--menuGray);
  }

  .header__nav--active{
    transform: translateY(0);
  }

  .subheader__nav {
    margin-right: 0;
    padding: 18px 0 18px;
  }

  .subheader__menu {
    margin-right: 0;
  }

  .subheader__audio {
    display: none;
  }

  .subhesder__audio-btn {
    display: block;
    flex-shrink: 0;
  }

  /*hero*/

  .hero__content {
    padding: 52px 0 48px 0;
    background-image: none;
  }

  /*podcasts*/

  .podcasts__list {
    flex-direction: column;
  }

  .podcasts__item {
    width: 100%;
  }

  /*broadcast*/

  .broadcast {
    padding-bottom: 30px;
  }

  .broadcast__content {
    flex-direction: column;
  }

  .broadcast__list {
    justify-content: space-between;
    width: 100%;
    max-width: 540px;
    padding-bottom: 30px;
    margin-top: 45px;
    margin-bottom: 30px;
    border-bottom: 1px solid var(--lightGray);
  }

  .broadcast__item {
    flex-grow: 0;
    width: calc(255 / 540 * 100%);
    margin-right: 0;
  }

  .broadcast__card-content {
    max-height: 112px;
  }

  .broadcast__img-wrap {
    height: auto;
    max-height: 148px;
  }

  .broadcast__more svg{
    flex-shrink: 0;
  }

  .broadcast__archive {
    display: none;
  }

  .broadcast__archive--media {
    display: block;
    align-self: center;
    max-width: 365px;
    padding-top: 0;
    padding-left: 88px;
    margin-left: 30px;
    background-position: left center;
  }

  .broadcast__btn {
    padding: 10px 50px;
    margin-bottom: 8px;
  }

  /*guests*/

  .guests__content{
    flex-direction: column;
  }

  .accordion-container {
    width: 100%;
    margin-bottom: 50px;
  }

  .acordion__item-content-wrap {
    padding-bottom: 4px;
  }

  .tab-btn {
    margin-bottom: 28px;
  }

  .guests__tabs-content {
    width: 100%;
    max-width: 100%;
  }

  .guests__photo-wrap {
    margin-bottom: 10px;
  }

  .guests__socials {
    margin-bottom: 10px;
  }

  .guests__descr {
    max-width: 398px;
  }

  .guests__ether {
    padding: 10px 18px;
  }

  .guests__tabs-item {
    width: 100%;
  }

  /*playlists*/

  .playlists__checkbox-list {
    margin-bottom: 14px;
  }

  .playlists__checkbox-item {
    margin-bottom: 40px;
  }

  .playlists__item:not(:nth-child(3n)) {
    margin-right: 0;
  }

  .playlists__item:not(:nth-child(2n)) {
    margin-right: 29px;
  }

  /*market*/

  .market {
    padding-top: 50px;
  }

  .market__container {
    flex-direction: column;
  }

  .market__img-wrap {
    width: 100%;
    padding-bottom: 49px;
  }

  .market__title {
    max-width: 440px;
  }

  .market__descr {
    align-self: flex-start;
    width: 100%;
    max-width: 100%;
  }

  /*about*/

  .about__descr {
    padding-right: 0;
    padding-bottom: 142px;
  }

  .about__slider-wrap {
    margin-bottom: 30px;
  }

  .about__input {
    width: 100%;
    margin-bottom: 28px;
  }

  /*footer*/

  .footer__container {
    flex-direction: column;
    align-items: center;
  }

  .footer__logo{
    margin-top: 5px;
    margin-bottom: 15px;
  }

  .footer__socials-list {
    padding-left: 5px;
    padding-right: 5px;
    justify-content: space-between;
  }

  .footer__socials-item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 75px;
  }

  .footer__socials-svg {
    width: 36px;
    height: 36px;
  }

  .footer__nav {
    width: 100%;
    align-self: flex-start;
  }

  .footer__nav-list {
    padding-top: 0;
    width: 129%;
  }

  .footer__nav-item:not(:nth-child(3n)) {
    margin-bottom: 28px;
  }

  .footer__nav-item:not(:nth-child(n + 7)) {
    margin-right: 0;
  }
}

@media (max-width: 610px) {

  .container {
    padding-right: 32px;
    padding-left: 32px;
  }

  /*header*/

  .header__container--media {
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .header__container {
    padding-top: 10px;
    padding-bottom: 8px;
  }

  .header_logo--media {
    max-width: 87px;
  }

  .header__container--media {
    display: flex;
    justify-content: space-between;
  }

  .header__search-btn {
    margin-right: 0;
  }

  .header__account-btn {
    display: none;
  }

  .header__account-btn--media {
    display: block;
    padding: 8px 24px;
  }


  .header__nav {
    flex-direction: column;
    padding: 61px 32px;
  }

  .subheader__menu {
    display: none;
  }

  .subhesder__audio-btn {
    display: none;
  }

  .subheader__menu--media {
    display: block;
    column-count: 2;
    height: 37%;
    padding: 30px 32px;
    background-color: white;
  }

  .subheder__item {
    margin-bottom: 30px;
  }

  .subheader__nav {
    padding: 0;
  }

  .subheader__container {
    padding: 0;
  }

  .subheader__accordion {
    display: block;
  }

  .header__accordion-btn {
    width: 100%;
    padding: 12px 32px;
    margin-bottom: -1px;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    color: var(--violet);
    border-bottom: 1px solid var(--lightGray);
  }

  .header__accordion-svg {
    max-width: 15px;
  }

  .header__ac-title {
    margin: 0;
  }

  .accordion-container {
    margin-bottom: 0;
  }

  .header__acordion-content {
    overflow: hidden;
  }

  .subheader__audio-acordion {
    padding-right: 32px;
    padding-left: 32px;
    margin-top: 9px;
  }

  .subheader__audio-item {
    flex-direction: column;
    padding-bottom: 6px;
  }

  .subheader__audio-item:first-child {
    border-left: none;
  }

  .subheader__audio-item:last-child {
    border-right: none;
  }

  .subheader__audio-btn {
    align-self: flex-start;
    margin-bottom: 5px;
  }

  /*hero*/

  .hero {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .hero__content {
    padding: 0;
  }

  .hero__title {
    font-size: 32px;
    line-height: 100%;
    margin-bottom: 8px;
  }

  .hero__title--italic {
    font-size: 32px;
    line-height: 100%;
  }

  .hero__text {
    font-size: 14px;
    line-height: 150%;
  }

  .hero__link {
    padding: 17px 45px;
    font-size: 16px;
    line-height: 16px;
  }

  /*podcasts*/

  .podcasts {
    padding-top: 54px;
    padding-bottom: 54px;
  }

  .podcasts__title {
    margin-bottom: 20px;
    font-size: 24px;
    line-height: 100%;
  }

  .podcasts__list {
    margin-bottom: 0;
  }

  .podcasts__item {
    height: auto;
  }

  .podcasts__descr-wrap {
    padding: 13px 15px;
  }

  .podcasts__play-btn {
    max-width: 36px;
  }

  .podcasts__item:nth-child(n + 5) {
    display: none;
  }

  .podcasts__item--visible:nth-child(n + 5) {
    display: block;
  }

  .podcasts__content-wrap {
    flex-direction: column;
  }

  .podcasts__img-wrap {
    height: auto;
  }

  .podcasts__name {
    font-size: 16px;
    line-height: 16px;
  }

  .podcasts__autor {
    font-size: 12px;
    line-height: 12px;
  }

  .podcasts__reaction {
    padding: 5px 34px;
    border-top: 1px solid var(--lightGray);
  }

  .podcasts__more {
    padding: 15px 30px;
    font-size: 16px;
    line-height: 16px;
  }

  /*broadcasts*/

  .broadcast {
    padding-top: 54px;
    padding-bottom: 29px;
  }

  .broadcast__title {
    display: block;
    font-size: 24px;
    line-height: 100%;
  }

  .broadcast__select-label {
    font-size: 12px;
    line-height: 12px;
  }

  .broadcast__list {
    justify-content: space-between;
    padding-bottom: 0;
    margin-top: 24px;
  }

  .broadcast__item {
    width: 44%;
    height: auto;
  }

  .broadcast__img-wrap {
    display: block;
    height: auto;
  }

  .broadcast__card-content {
    margin-top: -5px;
    min-height: 99px;
    padding: 10px;
  }

  .broadcast__name {
    font-size: 12px;
    line-height: 12px;
  }

  .broadcast__announce {
    font-size: 9px;
    line-height: 9px;
  }

  .broadcast__more {
    font-size: 12px;
    line-height: 12px;
  }

  .broadcast__archive--media {
    display: flex;
    flex-direction: column-reverse;
    margin-left: 0;
    background-image: url("../img/broadcast-mic.png");
    background-size: contain;
  }

  .broadcast__archive-hint {
    margin-bottom: 7px;
    font-size: 14px;
    line-height: 150%;
  }

  .broadcast__btn {
    max-width: 110px;
    padding: 8px 31px;
    margin-bottom: 0;
  }

  /*guests*/

  .guests {
    padding-top: 54px;
    padding-bottom: 54px;
  }

  .guests__title {
    font-size: 24px;
    line-height: 100%;
  }

  .guests__enumeration {
    margin-bottom: 0;
    font-size: 14px;
    line-height: 150%;
  }

  .guests__text {
    font-size: 14px;
    line-height: 160%;
    margin-bottom: 28px;
  }

  .guests__accordion {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
  }

  .acordeon__item--historians {
    order: -1;
  }

  .acordeon__item--blogers {
    display: none;
  }

  .acordion__item-content-wrap {
    padding: 20px 0 0;
    margin-right: -18px;
    margin-bottom: -16px;
    columns: 2;
  }

  .acordeon__btn {
    padding: 18px 30px 17px 0;
    font-size: 16px;
    line-height: 16px;
  }

  .acordeon__btn::after {
    width: 30px;
    height: 30px;
  }

  .tabs__item {
    margin-right: 18px;

  }

  .tab-btn {
    max-width: 80px;
    margin-bottom: 30px;
    font-size: 14px;
    line-height: 110%;
  }

  .guests__socials-item {
    margin-right: 29px;
  }

  .guests__socials-link svg{
    width: 30px;
    height: 30px;
  }

  .guests__ether {
    padding: 9px 14px;
  }

  /*playlists*/

  .playlists {
    padding-top: 54px;
    padding-bottom: 48px;
  }

  .playlists__title {
    margin-bottom: 18px;
    font-size: 24px;
    line-height: 100%;
  }

  .playlists__genres {
    margin-bottom: 6px;
    font-size: 12px;
    line-height: 12px;
  }

  .playlists__checkbox-list {
    columns: unset;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 127%;
    height: auto;
    overflow-x: scroll;
    border-bottom: none;
  }

  .playlists__checkbox-list::-webkit-scrollbar {
    width: 0;
    background-color: transparent;
  }

  .playlists__checkbox-item {
    margin-bottom: 0;
    margin-right: 19px;
    flex-shrink: 0;
  }

  .playlists__checkbox-wrap {
    padding-left: 0;
    padding: 10px 20px;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
  }

  .playlists__radio-name {
    color: var(--violet);
    transition: color 0.2s ease-in-out;
  }

  .checkbox__default ~ .checkbox__custom {
    position: absolute;
    z-index: -1;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid var(--violet);
    border-radius: 77px;
    background-color: transparent;
    transition: background-color 0.2s ease-in-out;
  }

  .checkbox__default:checked ~ .checkbox__custom {
    background-color: var(--violet);
  }

  .checkbox__default:checked ~ .playlists__radio-name {
    color: white;
  }

  .playlists__list {
    justify-content: space-between;
    padding-bottom: 0;
    margin-bottom: 30px;
  }

  .playlists__item {
    display: flex;
    flex-direction: column;
    width: calc(112 / 256 * 100%);
    margin-bottom: 30px;
  }

  .playlists__img-wrap {
    display: block;
    max-height: 112px;
  }

  .playlists__band {
    font-size: 12px;
    line-height: 12px;
  }

  .playlists__band-album {
    font-size: 9px;
    line-height: 9px
  }

  .playlists__warning {
    font-size: 12px;
    line-height: 16px;
  }

  .playlists__warning-company {
    font-size: 12px;
    line-height: 22px;
  }

  /*market*/

  .market {
    padding-bottom: 52px;
  }

  .market__img-wrap {
    padding-bottom: 35px;
  }

  .market__title {
    padding-bottom: 21px;
    font-size: 24px;
    line-height: 100%;
  }

  .market__text {
    font-size: 14px;
    line-height: 22px;
  }

  .market__text:last-child {
    margin-bottom: 15px;
  }

  .market__price {
    margin-bottom: 15px;
    font-size: 24px;
    line-height: 24px;
  }

  .market__link {
    padding: 15px 15px;
    font-size: 16px;
    line-height: 100%;
  }

  /*about*/

  .about {
    position: relative;
    padding-top: 54px;
    padding-bottom: 54px;
  }

  .about__title {
    font-size: 24px;
    line-height: 100%;
  }

  .about__pre-title {
    margin-bottom: 7px;
    font-size: 14px;
    line-height: 150%;
  }

  .about__text {
    font-size: 14px;
    line-height: 22px;
  }

  .about__descr {
    padding-bottom: 0;
    margin-bottom: 27px;
  }

  .about__slide-name {
    padding-right: 10px;
    margin-bottom: 3px;
    font-size: 14px;
    line-height: 18px;
  }

  .about__slide-text {
    font-size: 12px;
    line-height: 16px;
  }

  .about__slide-img-wrap {
    min-width: 112px;
    max-height: auto;
  }

  .swiper-button-prev {
    display: none;
  }

  .swiper-button-next {
    display: none;
  }

  .about__slider-wrap {
    width: 125%;
    margin-left: -32px;
    margin-bottom: 15px;
  }

  .swiper {
    padding-right: 32px;
    padding-left: 32px;
  }

  .about__slide-img-wrap {
    margin-bottom: 10px;
  }

  .about__slide-descr {
    min-width: 112px;
    padding-top: 0;
  }

  .about__textarea {
    padding: 16px 23px;
    font-size: 16px;
    line-height: 16px;
    border-radius: 20px;
  }

  .about__textarea::placeholder {
    font-size: 16px;
    line-height: 16px;
  }

  .about__input {
    padding: 16px 23px;
    margin-bottom: 30px;
    font-size: 16px;
    line-height: 16px;
  }

  .about__input::placeholder {
    font-size: 16px;
    line-height: 16px
  }

  .about__form-btn {
    padding: 17px 44px;
    margin-bottom: 22px;
    font-size: 16px;
    line-height: 16px;
  }

  .about__form-label {
    padding-left: 20px;
    font-size: 9px;
    line-height: 9px;
  }

  /*footer*/

  .footer {
    padding-top: 51px;
    padding-bottom: 20px;
  }

  .footer__socials-list {
    max-height: 90px;
  }

  .footer__nav {
    width: 125%;
    padding-top: 25px;
    padding-bottom: 35px;
    margin-right: -64px;
    margin-left: -32px;
    background-color: var(--black);
  }

  .footer__nav-list {
    max-width: 270px;
    margin-left: 32px;
    columns: 2;
  }

  .footer__nav-item:not(:nth-child(3n)) {
    margin-bottom: 15px;
  }

  .footer__nav-item:nth-child(3n) {
    margin-bottom: 19px;
  }

  .footer__nav-link {
    font-size: 12px;
    line-height: 12px;
  }
}
